@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  direction: rtl;
  text-align: right;
}

.post_content a {
  text-decoration: underline;
}

.post_content hr {
  width: 75%;
  margin: 2rem auto;
}

.post_content ol {
  list-style: hebrew;
  padding-right: 1rem;
}

.post_content ul {
  list-style: disc;
  padding-right: 1rem;
}

.post_content blockquote {
  margin: 1rem 2rem;
  font-style: italic;
  border-right: 3px solid #e2e8f0;
}

.post_content pre.ql-syntax {
  direction: ltr;
  text-align: left;
}

.post_content .embedded_image p {
  direction: ltr;
  text-align: left;
  font-size: 0.875rem;
}

