#content {
	margin:50px auto 0;
	width:700px;
	font-size:11pt;
	line-height:150%;
	font-family:arial, sans-serif;
}

h1 {
	border-bottom:10px solid #eee;
	font-size:24pt;
	padding-bottom:10px;
}
#details {
	margin:20px 0;
	min-height:170px;
}
#details #bio,
#details img {
	float:left;
}
#details img {
	padding:5px;
	border:2px solid #eee;
	margin-right:10px;
}
ul#bio {
	width:200px;
}
ul#bio li {
	border-bottom:1px solid #eee;
	padding:5px 0 10px;
}
ul#bio li:last-child {
	border-bottom:0 none;
}
ul#contact {
	width:200px;
	float:right;
	font-size:11pt;
}
ul#contact li {
	padding:5px 0 10px;
}
#social {
	clear:both;
}
#social li {
	float:left;
	width:70px;
}
#social li a {
	margin:0 auto;
	display:block;
	width:48px;
	height:48px;
}
#social li span {
	display:none;
}

#social li.facebook a {
	background:url('img/facebook.png') no-repeat top left;
}
#social li.twitter a {
	background:url('img/twitter.png') no-repeat top left;
}
#social li.buzz a {
	background:url('img/google-buzz.png') no-repeat top left;
}
#social li.flickr a {
	background:url('img/flickr.png') no-repeat top left;
}
#social li.linkedin a {
	background:url('img/linkedin.png') no-repeat top left;
}
#social li.picasa a {
	background:url('img/picasa.png') no-repeat top left;
}
#social li.rss a {
	background:url('img/rss.png') no-repeat top left;
}
#social li.wordpress a {
	background:url('img/wordpress.png') no-repeat top left;
}
#social li.youtube a {
	background:url('img/youtube.png') no-repeat top left;
}
#social li.delicious a {
	background:url('img/delicious.png') no-repeat top left;
}

.title {
	font-weight:bold;
	display:block;
}