html,
body {
	text-align: right;
	direction: rtl;
}

[v-cloak] {
  display: none;
}

.hero {
  background: url('http://it.ai/pikadon/shnekel.png') no-repeat center center;
  background-size: contain;
}

@media screen and (min-width: 769px), print {
  .column.is-offset-4, .column.is-offset-4-tablet {
    margin-left: 0;
    margin-right: 33.33333%;
  }
}

.notification>.delete {
    left: .5em;
    right: auto;
}
