@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
	direction: rtl;
	@apply text-right
}

.post_content a {
	@apply underline
}

.post_content hr {
	@apply w-3/4 mx-auto my-8
}
.post_content ol {
	@apply pr-4 list-hebrew mb-4
}
.post_content ul {
	@apply pr-4 list-disc mb-4
}
.post_content blockquote {
	@apply px-4 my-4 italic border-r border-r-4 border-gray-300
}
.post_content h2 {
	@apply text-5xl
}
.post_content h3 {
	@apply text-4xl
}
.post_content pre {
	direction: ltr;
	@apply text-left border border-gray-500 p-2 bg-gray-100
}
.post_content .embedded_image p {
	direction: ltr;
	@apply text-sm text-left
}
